/*общие стили*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 250px;
}

/*logo*/

.main_header {
    padding: 41px;
    margin: auto;
    width: 1438px;
    height: 769px;
    background: url(/img/header_bg.jpg);
}
.container__logo{
    text-align: center;   
}
.logo {
    width: 102px;
    height: 23px;
}
.main_logo_text {
    margin: auto;
    padding-top: 317px;
    color: #FFF;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 5.709px;
}
.logo_text_1 {
    margin: auto;
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo_text_info {
    margin: auto;
    text-transform: uppercase;
    padding-top: 200px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    font-family: Open Sans;
    font-weight: 600;
    letter-spacing: 3.7px;
}

/*раздел "Our Story"*/
.story {
    padding: 50px 0;
}
.story_left {
    max-width: 406px;
    margin-right: 50px;
}
.story_title_2 {
    color: #48555B;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 50px 0;
}
.story_title_2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 10px auto 0;
}
.story_inner {
    display: flex;
    justify-content: center;
}
.story_title_3 {
    color: #48555B;
    font-weight: bold;
    font-size: 20px;
}
.accent-color {
    color: #16ACE8;
}
.story_text {
    color: #48555B;
}
.story_right {
    display: flex;
    align-items: flex-end;
}
.story_item {
    padding: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
}
.story_item:nth-child(1) {
    background-image: url(../img/we_plan.png);
}
.story_item:nth-child(2) {
    background-image: url(../img/we_manage.png);
}
.story_item:nth-child(3) {
    background-image: url(../img/we_build.png);
    margin-right: 0px;
}
